{% extends 'layout/basic.html' %}

{% block filter %}
<div class="d-flex">
  <button type="button" class="btn btn-primary btn-lg me-2" data-bs-toggle="modal" data-bs-target="#filterModal">
      Фильтр
  </button>
</div>

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Фильтр</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'index' %}">
            <div class="form-row">
              <div class="mb-3">
                <label for="title">Тема</label>
                <input type="text" class="form-control w-75" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="created_by">Автор</label>
                <input type="text" class="form-control w-75" id="created_by" name="created_by">
              </div>
              <div class="mb-3">
                <label for="criticalness">Критичность</label>
                <select id="criticalness" class="form-control w-50" name="criticalness">
                  <option value="">Выберите...</option>
                  <option value="LOW">Низкая</option>
                  <option value="MEDIUM">Средняя</option>
                  <option value="HIGH">Высокая</option>
                  <option value="CRITICAL">Критичная</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="technician">Исполнитель</label>
                <input type="text" class="form-control w-75" id="technician" name="technician">
              </div>
            </div>
            <div class="form-row">
              <div class="mb-3">
                <label for="status">Статус открытости</label>
                <select class="form-control" id="status" name="status">
                    <option value="OPENED" {% if request.GET.status == "OPENED" %}selected{% endif %}>Открыта</option>
                    {% for value, text in status_choices %}
                        <option value="{{ value }}" {% if value == request.GET.status %}selected{% endif %}>{{ text }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="progress">Прогресс</label>
                <select class="form-control" id="progress" name="progress">
                  <option value="">Выберите...</option>
                  {% for value, text in progress_choices %}
                    <option value="{{ value }}" {% if value == request.GET.progress %}selected{% endif %}>{{ text }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="published_start">Дата начала публикации</label>
                <input type="date" class="form-control w-75" id="published_start" name="published_start">
              </div>
              <div class="mb-3">
                <label for="published_end">Дата окончания публикации</label>
                <input type="date" class="form-control w-75" id="published_end" name="published_end">
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary">Применить</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <table class="table table-hover">
        <thead align="left">
            <th scope='col'>ID</th>
            <th scope='col'>Тема</th>
            <th scope='col'>Автор</th>
            <th scope='col'>Критичность</th>
            <th scope='col'>Исполнитель</th>
            <th scope='col'>Статус</th>
            <th scope='col'>Дата изменения</th>
        </thead>
        {% for t in tickets %}
        <tr align='left' {% if t.status == "закрыта" %}class="table-success"{% endif %}>
            <td><a href="{{ t.get_absolute_url }}">{{ t.id }}</a></td>
            <td><a href="{{ t.get_absolute_url }}">{{ t.title }}</a></td>
            <td>{% if t.created_by.profile %}{{ t.created_by.profile }}{% else %}{{ t.created_by }}{% endif %}</td>
            <td>{{ t.criticalness }}</td>
            <td>{% if t.technician.profile %}{{ t.technician.profile }}{% else %}{{ t.technician }}{% endif %}</td>
            <td>{{ t.progress }}</td>
            <td>{{ t.published|date:"d.m.Y H:i" }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
